<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Arconai Stream</title>
  <style>
    .video-container {
      display: none;
    }
  </style>
  <%- referenceScripts %>
</head>

<body>
  <div>
    <h3>You should be redirected in a moment</h3>
    <div id="targetUrl" />
  </div>
  <div class="video-container">
    <video id="stream_player" class="stream-player video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" autoplay
      controls preload="none" width="640" height="264">
      <source id="stream_player_src" src="" type="application/x-mpegURL">
    </video>
    <%- inlineScripts %>
  </div>
  <script>
    (function (doc) {
      var count = 0, maxCount = 100, interval = 300,
        targetDiv = document.getElementById("targetUrl"),
        newAnchorTag = document.createElement('a')
      stopRedirecting = !!document.getElementById("source-href");

      // *Try* not to rerun the reload trigger if the user has back-nav'd to this page
      //    this gives the user a chance to either A) click the link or B) copy the URL
      if (stopRedirecting) return;

      searchForSource = setInterval(function () {
        if (stopRedirecting) return;
        try {
          if (++count > maxCount) {
            clearInterval(searchForSource);
            alert('Unable to locate stream source within ~' + (maxCount * interval / 1000) + ' seconds');
            return;
          }

          // Get the videojs player
          if (!videojs || !videojs.getAllPlayers) return;
          let players = videojs.getAllPlayers();
          if (!players || players.length === 0) return;
          let player = players[0];

          // Get the cache source
          let source = player.cache_.src;
          if (!source) return;

          // At this point we have the source, so stop looping
          clearInterval(searchForSource);

          setTimeout(function () {
            if (stopRedirecting) return;

            // Add the newAnchorTag to the DOM with the source URL
            //        https://stackoverflow.com/questions/42320019/creating-anchor-tags-dynamically-in-html-using-javascript
            newAnchorTag.innerText = source;
            newAnchorTag.id = "source-href"
            newAnchorTag.setAttribute('href', source);
            targetDiv.appendChild(newAnchorTag);

            console.log('Redirecting to', source);
            window.location.href = source;
          }, 350);
        } catch (e) {
          // no-op
        }
      }, interval);
    })(this);
  </script>
</body>

</html>